<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32100">
        <setting label="32111" type="text" id="username" default=""/>
        <setting label="32112" type="text" id="password" option="hidden" enable="!eq(-1,)" default=""/>
    </category>
    <category label="32200">
        <setting label="32222" type="bool" id="autolive" default="false"/>
        <setting label="32229" type="bool" id="elistrev" default="true"/>
        <setting label="32230" type="bool" id="getplot"  default="false"/>
        <setting type="sep"/>
        <setting label="32224" type="bool" id="showfeat" default="true"/>
        <setting label="32225" type="bool" id="showprog" default="true"/>
        <setting label="32226" type="bool" id="showepg"  default="true"/>
        <setting label="32227" type="bool" id="showshop" default="true"/>
        <setting type="sep"/>
        <setting label="32221" type="text" id="maxvideos" default="20"/>
        <setting label="32228" type="text" id="maxshops"  default="50"/>
        <setting label="32223" type="text" id="cachesec"  default="900"/>
    </category>
    <category label="32300">
        <setting label="32301" type="action" action="RunScript($CWD/resources/lib/clearCache.py)"/>
        <setting type="sep"/>
        <setting label="32302" type="action" action="RunScript($CWD/resources/lib/installAutoexec.py)"/>
        <setting label="32303" type="action" action="RunScript($CWD/resources/lib/uninstallAutoexec.py)"/>
    </category>
</settings>
